<div class="card">
    <div class="card-header">
        Dodaj klienta
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="name">Nazwa klienta</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
            </div>
            <div class="form-group">
                <label for="age">Wiek</label>
                <input type="number" class="form-control" id="age" [(ngModel)]="age" name="age">
            </div>
            <div class="form-group">
                <label >Typ</label>
                <select class="form-control" [(ngModel)]="type"  name="type">
                    <option [value]="CustomerType.Standard">Standard</option>
                    <option [value]="CustomerType.Premium">Premium</option>
                    <option [value]="CustomerType.VIP">VIP</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary" (click)="add()">Dodaj</button>
        </form>
    </div>
</div>
