<div class="card" *ngIf="customer">
    <div class="card-header">
        <h1 [style.color]="nameColor" [class.isActive]="isActive">
            <button type="button" (click)="left()">&lt;</button>
            {{ customer.name }}
            <ng-container [ngSwitch]="customer.type">
                <ng-container *ngSwitchCase="CustomerType.Standard">*</ng-container>
                <ng-container *ngSwitchCase="CustomerType.Premium">**</ng-container>
                <ng-container *ngSwitchCase="CustomerType.VIP">***</ng-container>
                <ng-container *ngSwitchDefault>nieznany typ</ng-container>
            </ng-container>
            <button type="button" (click)="right()">&gt;</button>
        </h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-9">
                <p>{{ customer.description }}</p>
                <p appHighlight>Wiek: {{ customer.age }}</p>
                <p>
<!--                    Adres: {{ customer.address.city }} {{customer.address.street}} {{ customer.address.houseNumber }}-->
                </p>

                <ul>
                    <li *ngFor="let category of customer.categories; let oddCategory = odd"
                        [class.oddCategory]="oddCategory"> {{ category }} </li>
                </ul>
                <button class="btn btn-primary" (click)="changeIsActive()" type="button">Przełącz
                    podkreślenie
                </button>
                <button style="margin-left: 5px;" class="btn btn-primary" (click)="changeColor()"
                        type="button">Przełącz kolor
                </button>
            </div>
            <div class="col-sm-3">
                <img *ngIf="showPhoto" [src]="customer.photoUrl" height="200" width="200" alt=""/>
                <div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="showPhoto">Pokaż zdjęcie</label>
                </div>
            </div>
        </div>
    </div>
</div>